[2020-03-27 17:45] mark-slepkov opened #1 "Unknown receiver 'ZohoSalesIQ'; did you mean 'RNZohoSalesIQ'?"
Hey there.
I did all the steps described in the Readme.md and stucked with error: ```Unknown receiver 'ZohoSalesIQ'; did you mean 'RNZohoSalesIQ'?```
in ```..../node_modules/react-native-zohosalesiq-mobilisten/ios/RNZohoSalesIQ.m:18:10: ```

My system information:
MacBook Pro (13-inch, Early 2011)
Mac OS High Sierra 10.13.6
XCode 10.1

It there any chance to run it on my XCode 10.1 cause I haven't

[2020-03-28 15:00] Angu-G commented on #1
Hi @mark-slepkov ,

Assuming the installation of the framework was successful without errors, can you please confirm us if you get the same issue upon trying to build the project for a non-simulator target? Please try building the project after selecting an actual device or select "Generic iOS Device" as your run target.

[2020-03-30 08:53] mark-slepkov commented on #1
Yes. I confirm. Result is still same for both "Generic iOS device" and actual device.

[2020-04-14 10:22] shashwatsahu123 commented on #1
I'm also getting same issue in ios.

[2020-04-15 13:30] Rishabh-Raghunath commented on #1
Could you try searching for the RNZohoSalesIQ.podspec file in the ios folder and replace
`s.vendored_frameworks = "Mobilisten.framework"`
with
`  s.vendored_frameworks = "Mobilisten.framework",'~> 1.1.0'`
and then run `pod install` and let us know if it fixes the issue?

Please have "Generic iOS Device" or an actual device selected as well for the run target after following the above steps and try

[2020-04-20 19:37] diegogurpegui opened #2 "Use of deprecated UIWebView in iOS"
When uploading a project to Apple with this component, this warning is returned:

The use of UIWebView is deprecated and this project seems to be using it based on this search:
`grep -r UIWebView node_modules/*`

The problem is that it seems to be used in binary files, which there is no way of easily change. Is there any plan to update this? Otherwise every project using this will eventually face

[2020-05-07 15:43] mark-slepkov commented on #2
Same problem for me. Is there any solution?

[2020-05-07 23:25] diegogurpegui commented on #2
I tried replacing the binaries in this component with the ones in:
https://github.com/zoho/SalesIQ-Mobilisten-iOS/
But it didn't work, which leads me to think that the iOS native SDK is not compatible either (or that I replaced them wrong).

[2020-05-18 11:42] RageOfJustice opened #3 "Does not work React Native 0.62"
# System info
System:
    OS: macOS 10.15.4
    CPU: (16) x64 Intel(R) Core(TM) i9-9880H CPU @ 2.30GHz
    Memory: 570.91 MB / 16.00 GB
    Shell: 5.7.1 - /bin/zsh
  Binaries:
    Node: 13.11.0 - /usr/local/bin/node
    Yarn: 1.22.4 - /usr/local/bin/yarn
    npm: 6.13.7 - /usr/local/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  Managers:
    CocoaPods: 1.9.1 - /usr/local/bin/pod
  SDKs:

[2020-05-18 18:31] Rishabh-Raghunath commented on #2
The native iOS SDK has been updated to use WKWebView instead of UIWebView.
As an immediate workaround, you can replace the binary **Mobilisten.framework** and that should solve the issue.
You can find the latest builds of the framework from:
https://github.com/zoho/SalesIQ-Mobilisten-iOS/
We will be releasing an update shortly for react native as well to have this resolved.

[2020-05-18 18:49] diegogurpegui commented on #2
Thanks for the response Rishabh!
We did that workaround last week and made it work for the time being. We
look forward to the update on the SDK.

Best

On Mon, May 18, 2020 at 3:31 PM Rishabh Raghunath <notifications@github.com>
wrote:

[2020-05-20 03:20] Rishabh-Raghunath commented on #3
This issue seems to be very similar to an bug in iOS 13.3.1 which causes a runtime crash in projects using external frameworks when using a free developer account.
Do you happen to be using a free developer account?
If yes, could you try updating your device to iOS 13.4.1 and check if the reported issue still happens?
Please try a clean and build from XCode as well to check if it solves the issue.

[2020-05-20 10:37] RageOfJustice commented on #3
Ok Ill update to 13.4.1 and try again.
But I do not understand how signing relates to this issue.
Could you provide documentation/article links from Apple where they says something like this?
Also its very convenient that I cannot test on the simulator (and very odd also) because my simulator device's version is up to date

[2020-05-20 11:07] Rishabh-Raghunath commented on #3
Yes, you can find references to the issue which I have mentioned below.

- https://forums.developer.apple.com/thread/128987
- https://forums.developer.apple.com/thread/128987
- https://stackoverflow.com/questions/60096258/library-not-loaded-rpath-fblpromises-framework-fblpromises-ios-13-3-1
- https://stackoverflow.com/questions/60015309/how-to-run-an-ios-app-that-causes-runtime-error-for-framework

[2020-05-20 11:56] RageOfJustice commented on #3
Its working on the 13.4.1

[2020-05-20 11:56] #3 closed

[2020-05-22 03:23] Angu-G commented on #2
We have rolled out an update with the WKWebView.
[react-native-zohosalesiq-mobilisten](https://www.npmjs.com/package/react-native-zohosalesiq-mobilisten)

[2020-05-22 05:53] Rishabh-Raghunath commented on #2
Closing this issue.
Update with the WKWebView change has been moved live with version 0.1.0.

[2020-05-22 05:53] #2 closed

[2020-05-28 09:35] RageOfJustice opened #4 "Unsupported modules detected: Android"
When I open Android Studio the message appears in my Event Log

`Unsupported Modules Detected: Compilation is not supported for following modules: react-native-zohosalesiq-mobilisten. Unfortunately you can't have non-Gradle Java modules and Android-Gradle modules in one project`

[2020-06-29 04:19] Angu-G commented on #4
@RageOfJustice Please add our maven repository in your project's build.gradle file which is mentioned as step 3 in the [installation doc](https://www.zoho.com/salesiq/help/developer-section/react-native-sdk-installation.html) and sync the project. Please take a look into [this](https://stackoverflow.com/questions/28668252/android-studio-error-unsupported-modules-detected-compilation-is-not-support

[2020-07-07 17:32] Rishabh-Raghunath commented on #1
We have addressed this issue since version `1.1.0` along with a slew of new features and enhancements.
Please update to the above release and run `pod repo update && pod install` from the **iOS** folder in the terminal for your react-native project. After that is done, doing a **clean** and **build** should complete the update and solve the issue.
Please test and let us know to confirm.

[2020-07-12 04:49] Rishabh-Raghunath commented on #1
Closing this issue since this has been addressed in newer releases.

[2020-07-12 04:49] #1 closed

[2020-07-24 20:38] #4 closed

[2020-07-28 19:13] RageOfJustice opened #5 "AAPT error on RN 0.63"
Hello. Faced the error when trying to build on new RN version (current 0.63).

It could be fixed by adding `safeExtGet`. I have changed:
[code]

with this
[code]

[2020-09-28 05:24] Angu-G commented on #5
Thanks for the suggestion. We will have this change in our update which can be expected by the second week of October.

[2020-11-14 11:20] wiedzmin26 opened #6 "Crashlytics issues (ZohoLiveChat.java line 301, LiveChatUtil.java line 181)"
"react-native-zohosalesiq-mobilisten": "^1.3.5"

**ZohoLiveChat.java line 301**
Fatal Exception: java.lang.NullPointerException: Attempt to invoke interface method 'android.content.SharedPreferences$Editor android.content.SharedPreferences.edit()' on a null object reference
       at com.zoho.livechat.android.ZohoLiveChat$Chat.setVisibility(ZohoLiveChat.java:301)
       at com.reactlibrary.RNZohoS

[2020-11-16 04:01] Angu-G commented on #6
Hello @wiedzmin26, Any API that is triggered before init() will cause this crash. Please use ZohoSalesIQ.registerVisitor() API (or any other APIs used) after ZohoSalesIQ.init() API is being called.

[2020-11-23 04:35] Angu-G commented on #6
@wiedzmin26, We are closing this issue now. You can get back to us if you face any crash.

[2020-11-23 04:35] #6 closed

[2020-11-30 11:55] arinconc opened #7 "Could not resolve dependency while installing"
I'm installing with the command:
`npm install react-native-zohosalesiq-mobilisten --save`

And npm gives me the error:
[code]
Can someone guide me to install the library
Greetings,
Antonio

[2020-11-30 12:30] Angu-G commented on #7
Hello @arinconc, Can you please share us with the **npm** version and **react-native** versions used in your project so that it will be helpful for us to debug?

[2020-11-30 13:30] arinconc commented on #7
My npm version is 7.0.8,
And these are my dependencies in the package.json"dependencies": {
    "@react-native-community/async-storage": "^1.12.1",
    "@react-native-community/geolocation": "^2.0.2",
    "@react-native-community/masked-view": "^0.1.10",
    "@react-native-community/progress-bar-android": "^1.0.4",
    "@react-native-community/progress-view": "^1.2.3",
    "@react-native-community

[2020-12-04 09:39] arinconc commented on #7
Is there any news?

Thanks @Angu-G !!

[2020-12-04 11:35] Angu-G commented on #7
@arinconc, Thank you for your patience. Can you please try our latest version [v1.4.0](https://github.com/zoho/SalesIQ-Mobilisten-ReactNative/releases/tag/1.4.0) and let us know you still face this issue.

[2020-12-04 11:35] Angu-G commented on #5
Hai @RageOfJustice, This is handled in our latest version (v1.4.0). Thank you

[2020-12-04 11:35] #5 closed

[2020-12-04 12:14] arinconc commented on #7
@Angu-G This is the result while installing the library in a empty project:
`npm install react-native-zohosalesiq-mobilisten@1.4.0 --save`

[code]
And this is my packages.json:
[code]
Thank you very much for your help!
Antonio

[2020-12-10 13:16] Angu-G commented on #7
@arinconc, Thank you for your patience. We have rolled out an update (v1.4.1) for the latest RN version. Please try now and let us know the status.

[2020-12-10 13:16] Rishabh-Raghunath commented on #7
Hi @arinconc, we have updated our **react-native** peer dependency for the module now with version [**1.4.1**](https://github.com/zoho/SalesIQ-Mobilisten-ReactNative/releases/tag/v1.4.1).
This should hopefully resolve the issue you are having with resolving dependencies using npm 7.
Requesting you to perform an update and let us know if this resolves it.

[2020-12-11 09:25] arinconc commented on #7
Now it installs without problems.
Thanks for the attention.

[2020-12-11 09:38] Rishabh-Raghunath commented on #7
That's great. Closing this issue.

[2020-12-11 09:38] #7 closed

[2020-12-11 10:24] vipsbpatel opened #8 "enableScreenshotOption() not working on Android"
I have integrated Zoho SaleIQ SDK and versioning information as per below:
[code]

```ZohoSalesIQ.enableScreenshotOption();```

When I choose "Take a screenshot" option, the app will close the chat window and I am not able to choose that option.

[2020-12-11 12:17] arinconc opened #9 "I get "mobilisten not initialized" error while getting chats"
I have installed and got it working, but when I call the getChats function it doesn't return any chat and I always get a "mobilisten not initialized" error
However, I see my chats and can interact with them.

Thanks a lot!

[2020-12-11 12:26] #9 closed

[2020-12-11 12:27] arinconc commented on #9
Sorry, it was a silly mistake.

Thank you

[2020-12-11 12:59] Angu-G commented on #8
Hello @vipsbpatel, You will be shown the floating view in the middle of the device to capture the current screen or cancel the option. The floating view is not displayed Vipul?

[2020-12-13 06:37] vipsbpatel commented on #8
Hi Angu-G,
I have clicked on attachment icon => Choose "Take a screenshot" option. After choosing option it will close the Chat window.
Please check attached video file link here.
https://www.dropbox.com/s/ch6ja2wjxxshr28/Screen%20Recording%202020-12-13%20at%2012.02.16%20PM.mov?dl=0

[2020-12-16 06:50] Angu-G commented on #8
Hello @vipsbpatel, Thank you for your patience. We have tried reproducing on our end but no luck. Can you please share us your device model, RN version and portal name to debug further?

[2021-01-14 18:25] arinconc opened #10 "Shared desktop not works (only tested on IOS)"
In salesiq there is an option in the chat window that allows a connected user to request a shared desktop.
When I run it, I see in the customer's chat that a message arrives because the list scrolls, but it doesn't show any text.
Do I need to run any ZohoSalesIQ function for it to work?

Thanks!
![shared](https://user-images.githubusercontent.com/1283131/104632599-3a6d5f80-569e-11eb-92a2-31918283a

[2021-01-15 04:27] Angu-G commented on #8
Hello @vipsbpatel, Can you please confirm whether you still face this issue?

[2021-01-15 05:00] Rishabh-Raghunath commented on #10
Hi @arinconc
Screensharing using Zoho Assist is not supported currently in the Mobilisten SDK.

[2021-01-15 05:39] Rishabh-Raghunath commented on #10
Hi @arinconc
Screensharing using Zoho Assist is not currently supported via the Mobilisten SDK.
For an immediate resolution, we shall disable the option for chats started from the SDK until the feature is supported.
We will evaluate and might support this in a future update. We are closing this issue for now.

[2021-01-15 05:39] #10 closed

[2021-01-19 04:10] Angu-G commented on #8
@vipsbpatel, We are closing this issue. You can write back if you still face the issue. Thank you.

[2021-01-19 04:10] #8 closed

[2021-02-08 17:58] ahtisham09 opened #11 "App build fail on 12.4 Xcode release mood"

[2021-02-09 04:40] Rishabh-Raghunath commented on #11
@ahtisham09 Thanks for reaching out.
Could you share the error you are facing so we can further have a look at the issue?
Also to confirm, has `pod install` been completed successfully as per the installation guide?

[2021-02-09 09:04] ahtisham09 commented on #11
@Rishabh-Raghunath In debug mood app working fine when i test my app on release mood and i got error

[2021-02-09 09:37] Rishabh-Raghunath commented on #11
I understand. Would you be able to share the error that you receive while running the app on release mode?
This would help us to understand the issue better and assist you accordingly.

[2021-02-10 10:07] ahtisham09 commented on #11
sure i can share with you error

[2021-02-10 10:16] ahtisham09 commented on #11
[
<img width="271" alt="Screenshot 2021-02-10 at 3 11 42 PM" src="https://user-images.githubusercontent.com/59255791/107496076-b205b000-6bb2-11eb-8d43-40a0ef000439.png">
<img width="1400" alt="Screenshot 2021-02-10 at 3 12 45 PM" src="https://user-images.githubusercontent.com/59255791/107496118-bfbb3580-6bb2-11eb-8db5-79ac18104221.png">

](url)

[2021-02-13 05:31] Rishabh-Raghunath commented on #11
@ahtisham09 We were not able to entirely reproduce this issue on our end.
However, we made recently made changes to the way the iOS SDK is packaged as an XCFramework that may resolve your issue and we have released an update incorporating this change with [Release 1.4.2](https://github.com/zoho/SalesIQ-Mobilisten-ReactNative/releases/tag/v1.4.2).

Please update the **`react-native-zohosalesiq-mobi

[2021-02-15 09:57] ahtisham09 commented on #11
@Rishabh-Raghunath hello i hope you are doing well my previous version is 1.4.1 but issue is Resolved in version 1.4.2
Thanks

[2021-02-17 12:53] ahtisham09 commented on #11
hey @Rishabh-Raghunath  i hope you are going i get this error when i try to push my app on TestFlight here is my error log

Showing Recent Messages
None of the architectures in ARCHS (arm64) are valid. Consider setting ARCHS to $(ARCHS_STANDARD) or updating it to include at least one value from VALID_ARCHS (x86_64).

SymLink /Users/mac/Library/Developer/Xcode/DerivedData/Connect360-fmeutgjmbrkjqqc

[2021-02-17 13:08] Rishabh-Raghunath commented on #11
@ahtisham09 This seems to not be an issue in Mobilisten but rather a build setting in the project.
Could you try setting the Architectures to `$(ARCHS_STANDARD)` under **Build Settings** as suggested in the error?

<img width="988" alt="Screenshot 2021-02-17 at 6 30 39 PM" src="https://user-images.githubusercontent.com/55278408/108208465-15618600-714f-11eb-830b-9fefd81d1657.png">

[2021-02-17 13:12] ahtisham09 commented on #11
My build setting

<img width="997" alt="Screenshot 2021-02-17 at 6 11 42 PM" src="https://user-images.githubusercontent.com/59255791/108209025-99b20a00-714b-11eb-9835-fe8675f5df4b.png">

[2021-02-17 13:29] Rishabh-Raghunath commented on #11
Could you share a screenshot of the entire **Architectures** tab expanded?

[2021-02-17 13:32] ahtisham09 commented on #11
here is my Architecture of app

<img width="1005" alt="Screenshot 2021-02-17 at 6 32 04 PM" src="https://user-images.githubusercontent.com/59255791/108211379-70df4400-714e-11eb-88c2-964f3785b4bd.png">

[2021-02-17 14:27] Rishabh-Raghunath commented on #11
I'm sorry, it's difficult to find a cause without a sample project in such cases but it's clear that this is an issue in the build settings.
Do you happen to have **`VALID_ARCHS`** defined under the **User-Defined** section under Build Settings on Xcode 12?
If you do, please try removing the same from the main and Pods projects and try a project clean and build.

[2021-02-17 21:05] ahtisham09 commented on #11
I just check my VALID_ARCHS is set to be x84 and i change it $(ARCHS_STANDARD) and its working fine
Thanks @Rishabh-Raghunath  for help

[2021-02-17 21:05] #11 closed

[2021-03-15 08:39] musthu786 opened #12 "Message not sending"
after sending a message it's says sending for long time and not able to send ,also when opening a message it's loading and no action

[2021-03-15 09:13] Angu-G commented on #12
@musthu786 Please share us your portal name to debug this on our end.

[2021-03-15 12:30] musthu786 commented on #12
it's working now issues with app key's

[2021-03-15 12:31] #12 closed

[2021-03-29 06:42] musthu786 opened #13 "Build failure in Xcode 12.4"
build crashing with issues

![IMG_20210329_120849](https://user-images.githubusercontent.com/79713827/112796704-32775780-901f-11eb-9fd2-1595609c1abd.jpg)

[2021-03-29 06:51] Rishabh-Raghunath commented on #13
@musthu786 Thanks for reaching out.
The issue you have reported is not a crash but a build failure and is caused to an issue in the Xcode build settings for the project.
Please refer to [Issue #11](https://github.com/zoho/SalesIQ-Mobilisten-ReactNative/issues/11) for the solution to the issue.

[2021-03-29 06:57] musthu786 commented on #13
"Do you happen to have VALID_ARCHS defined under the User-Defined section under Build Settings on Xcode 12?
If you do, please try removing the same from the main and Pods projects and try a project clean and build."
didn't find this under User-Defined section

[2021-03-29 07:04] #13 closed

[2021-04-07 11:06] sangitahirani opened #14 "Query: Build errors on simulator (Xcode 11.7)"
Hi,

I am having build errors in iOS in xcode 11.7 . I have tried solving them , solutions given by your team but all in vain .

I have attached screenshot of errors . Please solve this ASAP

Thanks
![Screen Shot 2021-04-07 at 4 35 50 PM](https://user-images.githubusercontent.com/76580092/113856800-57a65b80-97bf-11eb-9d02-d19d233f7573.png)

[2021-04-07 11:17] Rishabh-Raghunath commented on #14
Hi @sangitahirani,
Could you let us know the version of the react-native package you are using?
We would also like to know if this error occurs if the app is built with a real device selected rather than the simulator.

[2021-04-07 11:19] sangitahirani commented on #14
react-native : 0.63.1
"react-native-zohosalesiq-mobilisten": "^2.0.0" (also tried with 1.4.2)

This error is occurring in simulator

[2021-04-07 11:21] Rishabh-Raghunath commented on #14
Could you help us with us a screenshot of the **Architectures** tab within the app's project setting in Xcode?

[2021-04-07 11:24] sangitahirani commented on #14
![Screen Shot 2021-04-07 at 4 53 57 PM](https://user-images.githubusercontent.com/76580092/113858881-e0be9200-97c1-11eb-9df4-48cf19f3150f.png)

[2021-04-07 11:25] sangitahirani commented on #14
Here it is..
![Screen Shot 2021-04-07 at 4 55 22 PM](https://user-images.githubusercontent.com/76580092/113859031-106d9a00-97c2-11eb-9825-f602a9931c89.png)

[2021-04-07 11:52] Rishabh-Raghunath commented on #14
Do you happen to have "EXCLUDED_ARCHS" set to any value in the project within the build settings?

[2021-04-07 12:24] sangitahirani commented on #14
hi,
Its working in real device but not in simulator ..

Thanks

[2021-04-07 12:34] Rishabh-Raghunath commented on #14
Yes, I understand. This is very like an issue in the project build settings while building for the simulator architecture.
Do you happen to have EXCLUDED_ARCHS set to any value within build settings?

[2021-04-09 04:49] Rishabh-Raghunath commented on #14
@sangitahirani Were you able to find and solve the issue within build settings?

[2021-04-12 06:58] sangitahirani commented on #14
Hi,
I am not able to find EXCLUDED_ARCHS in build settings . Can u pls help?
Sorry for late reply

Thanks

[2021-04-13 03:09] Rishabh-Raghunath commented on #14
Hi @sangitahirani, could you try updating Cocoapods to the [latest release](https://github.com/CocoaPods/CocoaPods/releases) and try running the **`pod install`** command again?
If that does not solve your issue, it would be very helpful if you could send us a minimal reproducible example project via Github so we can locate the issue with ease.

[2021-04-13 13:45] Md-Mudassir opened #15 "[react-native][Android] App crashes on launch due to 'Attempt to invoke virtual method...'"
in iOS its working fine but in android its throwing the below error on app launch.

**Reason**
`java.lang.NullPointerException: Attempt to invoke virtual method 'android.graphics.drawable.Drawable com.zoho.commons.LauncherProperties.getIcon()' on a null object reference`

**Stacktrace**
[code]

"react-native": "^0.64.0",

[2021-04-14 03:25] Angu-G commented on #15
@Md-Mudassir, Can you please let us know is this always reproducible and also whether you have used the following [API](https://www.zoho.com/salesiq/help/developer-section/react-native-sdk-set-operator-image-chat.html)?

[2021-04-14 05:25] Md-Mudassir commented on #15
@Angu-G I followed [this](https://www.zoho.com/salesiq/help/developer-section/react-native-sdk-installation.html) setup docs. & i'm calling only these 2 API's in one of my component.

`ZohoSalesIQ.init("android_app_key","android_access_key");
ZohoSalesIQ.setLauncherVisibility(true);`

iOS works no issues, only in android it throws the error. below error was captured in firebase crashlytics.

[code

[2021-04-14 07:44] Angu-G commented on #15
@Md-Mudassir, Can you please try the following code block as a replacement of the ZohoSalesIQ.init() API and let us know that the issue persists?

[code]

[2021-04-14 08:18] Md-Mudassir commented on #15
@Angu-G tried it but callback is returning false.. success seems to be false

[2021-04-14 08:19] Angu-G commented on #15
@Md-Mudassir Please share your screen name(portal name)

[2021-04-14 08:21] Md-Mudassir commented on #15
portal name? sorry i don't understand..

[2021-04-14 08:29] Angu-G commented on #15
![image](https://user-images.githubusercontent.com/58692424/114678899-50d09900-9d29-11eb-8c9d-d9a8b7505a29.png)
You can take this from your salesiq dashboard and share to us

[2021-04-14 08:30] Angu-G commented on #15
Yes, @Md-Mudassir. Let me check and get back

[2021-04-14 08:37] Md-Mudassir commented on #15
Even in iOS its returning false.. where as `ZohoSalesIQ.init()` works (iOS)

[2021-04-15 05:28] Md-Mudassir commented on #15
@Angu-G any fix for the above issue? and apart from that i have 2 questions..
1. The floating icon is by default set globally in almost all of the components.. ideally it should only appear in one component where I am defining `ZohoSalesIQ.setLauncherVisibility(true);` right? is there a way to control it to appear only in specified component?
2. How to customize the floating icon like color, posit

[2021-04-15 05:49] Angu-G commented on #15
@Md-Mudassir Thank you for your patience. We have identified the issue. Our server team is checking for the mismatch in the key. We will revert back once the fix is live.

[2021-04-15 06:00] Angu-G commented on #15
@Md-Mudassir Customization is not possible as of now. You could have your own custom launcher and call the [openChat()](https://www.zoho.com/salesiq/help/developer-section/react-native-sdk-open-chat.html) to open the SDK.

[2021-04-16 12:29] Md-Mudassir commented on #15
@Angu-G one more bug `ZohoSalesIQ.openChat()` doesn't open the chat in Android.

[2021-04-19 14:29] Md-Mudassir commented on #15
Thanks for the fix @Angu-G
using the above API inside `useEffect` fixed the problem & for customisation I turned ` ZohoSalesIQ.setLauncherVisibility(false);` to false & made use of `openChat()` API and added my own floating icon in which i had the full control over it.

[2021-04-19 14:29] #15 closed

[2021-04-19 14:45] Angu-G commented on #15
@Md-Mudassir, Thank you for your time over the screen-sharing session. SDK should always be initialized at the Application level. In React-Native case, we recommend initializing the SDK in `useEffect` or `componentDidMount` method.

[2021-04-20 05:15] dhruvjain1800 commented on #6
HI
I am facing this error now. I have called ZohoSalesIQ.init() in App.js hence it should be called before any other apis.

[2021-04-20 05:50] Angu-G commented on #6
Hi @dhruvjain1800, SDK should always be initialized at the Application level. In React-Native case, we recommend initializing the SDK in `useEffect` or `componentDidMount` method.

[2021-04-23 04:23] dhruvjain1800 commented on #6
This is my component did mount function in app.js

`componentDidMount() {

      ZohoSalesIQ.init(zohoAppKey(), zohoAccessKey());
      ZohoSalesIQ.setLauncherVisibility(false);
      ZohoSalesIQ.disableInAppNotification();
      ZohoSalesIQ.disablePreChatForms();

    }

  }`

I have initialized SDK here. Is there something I am doing wrong?

[2021-04-23 04:31] Angu-G commented on #6
@dhruvjain1800, Can you please share with us the exact crash log or screenshot of the issue you facing.

[2021-04-23 04:50] dhruvjain1800 commented on #6
@Angu-G Here it is-

`Fatal Exception: java.lang.NullPointerException: Attempt to invoke interface method 'android.content.SharedPreferences$Editor android.content.SharedPreferences.edit()' on a null object reference
       at com.zoho.livechat.android.ZohoLiveChat$Notification.disableInApp(ZohoLiveChat.java:843)
       at com.reactlibrary.RNZohoSalesIQ$39.run(RNZohoSalesIQ.java:722)
       at and

[2021-04-23 05:02] Angu-G commented on #6
Thanks for sharing the logs @dhruvjain1800. We would recommend you to remove the above codes and try using the initWithCallback() method and let us know the result.

[code]

[2021-04-26 04:05] Rishabh-Raghunath commented on #14
@sangitahirani We are closing this issue since the same could not be replicated by us and because it has not had recent activity.
If you were unable to locate the issue within the build settings, please reopen the same by attaching an [MWE](https://stackoverflow.com/help/minimal-reproducible-example) project that demonstrates the behavior to help us investigate further.

Thank you for your contrib

[2021-04-26 04:05] #14 closed

[2021-05-21 05:02] dhruvjain1800 commented on #6
@Angu-G still facing the same issue. Replaced the code with initwithcallback.

[2021-05-28 04:27] Angu-G commented on #6
@dhruvjain1800 Sorry for missing out the reply. As we already mentioned initializing SDK with `initWithCallback()` and inside the `useEffect` or `componentDidMount` method should avoid this kind of issue.
If you still face this one, can you please drop a mail to **support@zohosalesiq.com** to help with a session?

[2021-06-23 08:21] alihassan0 opened #16 "Invalid Resource error when initializing the SDK."
Hello There,

 I have been using the SDK for a few months now. and it was working great. but suddenly I find that the sdk no longer opens. debugging further it seems initializing the sdk no longer works even though I double check the app key & access key. and I have a deployed version where the sdk works. After going through the logs I found this error. so I assume it's from the [backend ](https:/

[2021-06-23 08:29] Rishabh-Raghunath commented on #16
Hi @alihassan0,
Thanks for reaching out. Could you help us with your portal name so we can check this further?

[2021-06-23 09:01] alihassan0 commented on #16
Thanks for the quick reply.

not sure what the portal name is but the company Name is "Ackoo"

https://salesiq.zoho.com/ackoo

[2021-06-23 09:08] Rishabh-Raghunath commented on #16
Great. It looks like you might be appending ".dev" to the bundle ID that is registered on the SalesIQ console.
Could you recheck your bundle ID and let me know if all works fine?

[2021-06-23 09:24] alihassan0 commented on #16
Just tested it and it works. Thanks a lot !!
we have a dev & production as two different schemas. the dev one's bundle id is postfixed with .dev
So I guess now it only works on the production one.

Thanks a lot for the quick turnaround <3 . and if I may suggest a better error message as I have spent around 4 hours trying everything to figure out why it won't work.

[2021-06-23 09:27] Rishabh-Raghunath commented on #16
Great to hear that it's working now.
And sure we'll take that as feedback. Thanks.

[2021-06-23 09:27] #16 closed

[2021-07-22 08:00] dieptang opened #17 "The package name is very generic com.reactlibrary"
Please change to your package like "com.zohosalesiq.mobilisten", the library com.reactlibrary was conflict on my application. I cannot make it works due to the "com.reactlibrary" is already declared by another module on "node_modules"

[2021-07-22 08:04] Angu-G commented on #17
@dieptang Thanks for reporting. We are already working on it. You can expect the update on or before Friday.

[2021-07-22 08:15] dieptang commented on #17
@Angu-G  Thanks for your reply, it will be great.

[2021-07-22 14:38] Angu-G commented on #17
@dieptang, We have rolled out the fix for this issue in [v4.0.0](https://github.com/zoho/SalesIQ-Mobilisten-ReactNative/releases/tag/v4.0.0). Please reinstall the package and let us know here if any other support is required.

[2021-07-23 03:37] dieptang commented on #17
@Angu-G Yeah, it's working perfect now on Android. Thank you.

[2021-07-23 03:49] dieptang opened #18 "Feature request: Display conversation on the page/screen"
Hello again,

Thanks for the previous great support, I want to customize more flexible on our application, I will make the single page as a support live chat and it should be display the conversation/dashboard instead of showing the Launcher everywhere. Like the image below

![image](https://user-images.githubusercontent.com/7411097/126735322-817a09be-ccf8-46b6-91b3-377cca277f12.png)

Is there any

[2021-07-23 04:31] Angu-G commented on #18
Hello @dieptang, We do have an internal API to fetch the list of conversations [.getChats()](https://www.zoho.com/salesiq/help/developer-section/react-native-sdk-get-chats.html). It will return the conversations with the properties mentioned [here](https://www.zoho.com/salesiq/help/developer-section/react-native-sdk-chat-v2.html). You can populate the list in your own UI and upon tapping of partic

[2021-07-23 04:33] Angu-G commented on #17
Thanks, @dieptang. Closing the issue.

[2021-07-23 04:33] #17 closed

[2021-07-23 07:38] dieptang commented on #18
@Angu-G  Okay ;) only wondering if the API have the function already with one line of code will more easy. Anyhow I will improve on my application later. Thank you.

[2021-07-23 09:23] hieplam commented on #18
@dieptang Hi i'm having trouble in localize in VN, can we have a chat by email?

[2021-07-23 09:33] hieplam opened #19 "custom localization in chat module"
Hi can we support custom localization (vietnamese) or just custom text in any language. right now my app really really need to  have localize cause it only serve for our people. So it would be nice if there is anyway to custom texts especially in chat module

[2021-07-23 09:35] Angu-G commented on #18
Hi @hieplam, please write to us at support[at]zohosalesiq[dot]com.

[2021-07-23 09:35] dieptang commented on #19
@hieplam You may give it a try here https://www.zoho.com/salesiq/help/developer-section/android-mobile-sdk-theme-customization-strings.html

[2021-07-24 02:14] #18 closed

[2021-07-24 03:50] dieptang opened #20 "Bug: setThemeColorforiOS not working properly [fixed]"
@Angu-G  I want to report few bugs directly here:

`ZohoSalesIQ.setChatTitle("Support title");
ZohoSalesIQ.startChat("The invoice incorrectly");

 // either ZohoSalesIQ.openChat();
 ZohoSalesIQ.setConversationVisibility(true);`

1. On react native, after I call the code above for set the title and the content, then after I end the chat, and I click Launcher button for make new conversation, it's a

[2021-07-24 08:30] Angu-G commented on #20
Hello @dieptang,

 It is intended to work in this way. If you want to clear the old message, you can try it out by passing an empty string in the API or if you want to replace the old content with a new one, pass the new message(title) before initiating the chat.

 Attribute name **`colorAccent`** can be used to change the color of the send button. We will document the same.

 And regarding this s

[2021-07-24 08:31] Angu-G commented on #19
Hello @hieplam, We hope you have tried the customization with the help of the following [link](https://www.zoho.com/salesiq/help/developer-section/android-mobile-sdk-theme-customization-strings.html).
Closing this issue here. You can write back if further support is needed.

[2021-07-24 08:31] #19 closed

[2021-07-24 08:48] dieptang commented on #20
@Angu-G thanks for your reply.

Converning to (2). It should be something like

`<item name="siq_chat_message_backgroundcolor_visitor">@color/primary</item>`

Can you document it here more clearly?

I have new issue, How can I customize the color and text strings for IOS? I found the guide below but I don't know where to put these code. And the customize for the text language also not documented y

[2021-07-24 09:44] Angu-G commented on #20
The attribute you specified will be used to change the visitor sent messages bubble background color.

Example code for colorAccent attribute:
`<item name="colorAccent"><your color code></item>`

Regarding your query for iOS, you may use the [ZohoSalesIQ.setThemeColorforiOS()](https://www.zoho.com/salesiq/help/developer-section/react-native-sdk-set-chat-theme-ios.html) API to set the overall theme

[2021-07-25 05:18] dieptang commented on #20
@Angu-G Yes, The colorAccent work fine now.

Concerning to the themecolor on IOS, I call function ZohoSalesIQ.setThemeColorforiOS("#E7272D"); , but it;s not working. Still showing default blue color, can you please check one again?

[2021-07-25 09:14] dieptang commented on #20
Update: The function SetThemeColorforIOS only working sometime. It's not stable working. For example, it's changed the color from the menu End chat only. All other section still blue.

![image](https://user-images.githubusercontent.com/7411097/126893894-14535b30-5831-421a-9f57-1de5d2635d57.png)

I suppose it's a bug.

Another problem, that from the IOS, We cannot work with the UIModel

=====
 <UIM

[2021-07-25 10:17] Rishabh-Raghunath commented on #20
Hello @dieptang, could you confirm that the `setThemeColorforiOS` API is invoked immediately after calling the init API?

Regarding your second query with the shared code snippet,
[code]
We see that the [`ZohoSalesIQ.setConversationVisibility`](https://www.zoho.com/salesiq/help/developer-section/react-native-sdk-set-conversation-visibility.html) API is invoked after calling dismiss on a modal. The

[2021-07-25 10:29] dieptang commented on #20
@Rishabh-Raghunath Yes, I confirm there are an issue here, the `setThemeColorforiOS ` is called after the Init function.

`ZohoSalesIQ.init("ios_app_key","ios_access_key");
ZohoSalesIQ.setThemeColorforiOS("#E7272D");
ZohoSalesIQ.setLauncherVisibility(true);`

[2021-07-25 11:26] Rishabh-Raghunath commented on #20
Interesting. Could you try using the below code snippet instead?
[code]
We have fixed a minor issue relating to the behavior described by you in an upcoming update. But we hope the above snippet of code works for you.

[2021-07-25 12:51] dieptang commented on #20
@Rishabh-Raghunath confirmed it's not work properly also with initWithCallback, sometime it's colored, sometime it's showing default color.
For example, I open the launcher, it's showing default color - blue, click on new chat - showing my color (red), then sometime switch back default color.

![image](https://user-images.githubusercontent.com/7411097/126899575-215f8a75-c0fd-4855-a68b-943087dda867

[2021-07-26 06:16] Rishabh-Raghunath commented on #20
We shall investigate this further and keep you posted.
To disable dark mode support in the application, set the value of the [**`UIUserInterfaceStyle`**](https://developer.apple.com/documentation/bundleresources/information_property_list/uiuserinterfacestyle) property to **`Light`** in the application's **Info.plist** file.

[2021-07-27 08:37] dieptang opened #21 "IOS push notification configuration issue"
Today I got new issue for config the ZhoSalesIQ on the IOS for react native with Objective-C. Specifically it not found the function `enablePush` .

![image](https://user-images.githubusercontent.com/7411097/127123037-37906f83-26e1-46f8-9c02-3177ccc95b7c.png)

At the top, I imported already  `#import <Mobilisten/Mobilisten.h>`

The documentation for React Native for IOS missing much information, p

[2021-07-27 08:57] Rishabh-Raghunath commented on #21
Hello @dieptang, please refer to Step 2 in the documentation [here](https://www.zoho.com/salesiq/help/developer-section/react-native-sdk-mobile-push-notification-ios.html).
Xcode shows an error since there are a few more arguments that are required for the `enablePush` API that have not been added.

**API usage**:
By importing ` #import <RNZohoSalesIQ/RNZohoSalesIQ.h>`
[code]

[2021-07-27 10:59] dieptang commented on #21
@Rishabh-Raghunath Thanks, working fine now. I was looked on the website but not found.

[2021-07-27 10:59] #21 closed

[2021-07-28 03:40] hieplam commented on #20
i'm having same issue on `setThemeColorforiOS`, in my case none of above solution worked. Is there any way to work around while wait for the next release fix?

[2021-07-28 04:36] hieplam commented on #20
@dieptang for customize text strings in ios, i found a work around for this.

go to `Pods//Mobilisten/Mobilisten.xcframework/[[BUILDPLATFORM]]/Mobilisten.framework` there are lots of localization files named `LCLocalizable_[Region code].strings`

pick any file you want to customize, change extension to .plist, open and edit the text to language you want.

You can do that. as a temporary work aroun

[2021-07-28 12:16] Rishabh-Raghunath commented on #20
Hello @dieptang and @hieplam,
We have now released an update, version [4.0.1](https://github.com/zoho/SalesIQ-Mobilisten-ReactNative/releases/tag/v4.0.1) where the issue with setting the theme color should be addressed.

We request you to try updating to the latest version and ensure that the `setThemeColorforiOS` API is invoked right after using the init API.

[2021-07-29 06:18] hieplam opened #22 "[enhance feature]: allow extensive customize strings in android"
Hi, localization in android work fine, however there are some text that can not change like the images below

Can we expose that to `strings.xml`. I searched all the text in locliaztion file but none of them relate to the moment time

<img width="431" alt="Screen Shot 2021-07-29 at 12 02 16" src="https://user-images.githubusercontent.com/10095360/127441271-b516381a-34d1-47e1-8401-53d03d823c89.png"

[2021-07-29 06:28] Angu-G commented on #22
Hi @hieplam, Message status indicating texts (like **Sent, Sending**) will be added for localization and customization in our next immediate update. Will look into the possibilities for the timestamp and let you know. Thank you!

[2021-07-29 06:30] hieplam commented on #22
many thanks, i'm looking for your respone soon :)

[2021-07-29 06:34] hieplam commented on #20
`setThemeColorforiOS` worked as expected , thanks

[2021-07-29 16:50] hungkoala opened #23 "Push notification does not work with firebase 4.3.8"
I followed this guideline   https://www.zoho.com/salesiq/help/developer-section/react-native-sdk-mobile-push-notification-android.html   to setup push notification but was not successful because the class FirebaseInstanceId.java  has been deleted in firebase com.google.gms:google-services:4.3.8. Could please fix it?

Here is my code example: https://github.com/hungkoala/seq3

[2021-07-30 04:27] Angu-G commented on #23
Hello @hungkoala, You can directly use the token that you get in the onNewToken() method. We will change the same in the doc too. An example code snippet is given below.

[code]

[2021-07-30 07:12] dieptang commented on #20
@Rishabh-Raghunath Thank for updating, I will try and update back to you.

[2021-07-30 09:11] dieptang commented on #20
@Rishabh-Raghunath Thanks for resolve the issue, working mostly fine now. I found 2 small issue

1. When connected to the operator.
![image](https://user-images.githubusercontent.com/7411097/127630548-9e0f4755-2077-4f72-b4dc-abf019be8670.png)

2. Open status still green

![image](https://user-images.githubusercontent.com/7411097/127630600-3a88d647-836f-4e0e-8ace-2200cec60326.png)

[2021-07-30 09:12] dieptang commented on #20
The new LCLocalizable_[Region code].strings file should be put on the same folder   `Pods//Mobilisten/Mobilisten.xcframework/[[BUILDPLATFORM]]/Mobilisten.framework` right ?

[2021-07-30 10:02] hieplam commented on #20
The new LCLocalizable_[Region code].strings file should be put on the same folder Pods//Mobilisten/Mobilisten.xcframework/[[BUILDPLATFORM]]/Mobilisten.framework right ?
==> Yes, just overwrite it.

for open and change it. Try to close all xcode process -> change file from `.strings` to `.plist` and open it.
In my machine, it open using xCode

[2021-07-30 14:26] hungkoala commented on #23
i've tried and not successfully

[2021-07-30 14:52] hungkoala commented on #23
Can see my device is on the list but did not work

https://lh3.googleusercontent.com/pw/AM-JKLU94rssjmneGu6_rLdC37ICaU5p6Ecs5mjizxwV08NaI9iHF8XZIbSL0YALUP7rIOvohfyyFr9hj3vGWKVad8WGksK2P7IVZVUBgzY_het85OqLB_28LD0ZnO-EavSAvMA80iJRSAONSKCfeFhEiFIm=w1858-h1226-no?authuser=0

[2021-07-31 06:48] hungkoala opened #24 "Got null pointer exception"
![Error](https://i.ibb.co/1J7rP0C/z2651758917038-d1a34135d03c35ab055127cc7b3c35a9.jpg)

[2021-07-31 09:25] dieptang commented on #23
Try upload it to testflight and reinstall it. It not working on debug mode

[2021-07-31 10:32] dieptang commented on #20
Strange. I overwritten  LCLocalizable_EN.strings and/or add LCLocalizable_VI.strings also not working. Any hint?

![image](https://user-images.githubusercontent.com/7411097/127736693-a39f1397-0e31-4a73-bcec-c8bab6018a51.png)

[2021-08-02 03:51] Angu-G commented on #23
Hello @hungkoala, The device is successfully registered from our end and hence it is displayed in the portal. Have you tried debugging the onMessageReceived() method?

[2021-08-02 03:52] Angu-G commented on #24
@hungkoala Can you please help us with the complete error log to debug further from our end?

[2021-08-02 04:31] hungkoala commented on #23
I tried  debugging onMessageReceived but received nothing

[2021-08-02 05:05] Rishabh-Raghunath commented on #20
Hi @dieptang, the color applied in the open chat badge and the connected information background is green by design and the theme color is not applied in the mentioned places using the [`setThemeColorforiOS`](https://www.zoho.com/salesiq/help/developer-section/react-native-sdk-set-chat-theme-ios.html) API.

However, if you are able to import Mobilisten in the AppDelegate in native code as shown bel

[2021-08-02 07:00] hungkoala commented on #24
the bug is fixed by using ZohoSalesIQ.initWithCallback() instead of ZohoSalesIQ.init(), bad document

[2021-08-02 07:04] hungkoala commented on #23
example code is available  at https://github.com/hungkoala/seq3, please have a check

[2021-08-03 04:57] hungkoala commented on #23
the issue caused by

[code]

[2021-08-03 08:08] Angu-G commented on #23
Hello @hungkoala, This crash is due to the **null** value of your application instance (application object is not initialized). We have given the code snippet **`MainApplication.getApplication()`**  to convey that the application instance should be passed as the first param. Initialization of the instance will be generally taken care of by the application developer (application instance will be us

[2021-08-03 08:29] Angu-G commented on #24
Hi @hungkoala, Our team is already working on the adaption of initWithCallback() API on the installation page. We shall update here once the changes are live. Thank you for your feedback!

[2021-08-03 22:30] #23 closed

[2021-08-04 07:02] #20 closed

[2021-08-04 11:06] Angu-G commented on #24
Hello @hungkoala, We have updated the documentation with the initWithCallback() API(in the [Installation](https://www.zoho.com/salesiq/help/developer-section/react-native-sdk-installation.html) page).
Thank you!!

[2021-08-04 23:45] hungkoala commented on #24
great

[2021-08-04 23:45] #24 closed

[2021-08-04 23:46] hungkoala opened #25 "Business hours setting does not effect for mobile app"
https://help.zoho.com/portal/en/kb/salesiq-2-0/admin-guide/controls/articles/setup-business-hours#:~:text=In%20Settings%20%3E%20Brands%20%3E%20Your%20brand,by%20moving%20the%20multicolored%20sliders.

[2021-08-05 06:46] Angu-G commented on #25
Hi @hungkoala, Can you please elaborate on the issue?

[2021-08-05 11:58] hungkoala commented on #25
I followed the instruction above to change working our for my company but did not see anything on the phone app. Customers can chat, sending messages as normal

[2021-08-05 12:07] Angu-G commented on #25
@hungkoala, SDK chats will not be missed if you have chosen **None/Infinite** config in the portal under '**_Settings > Brands > YourBrand > Flow Controls > Set Visitor Waiting Time For Mobile/SDK Visitors_**' even though your portal is offline.
This is the feature exclusive for SDK visitors so that you can pick up the chat anytime you are online.

[2021-08-10 04:16] Angu-G commented on #25
Hello @hungkoala, It will be helpful for us to debug further if you confirm the config.

[2021-08-16 03:34] Angu-G commented on #25
@hungkoala We hope the waiting timer configuration would have cleared your query on business hours. We are closing this issue now. You can write back if you have further queries.

[2021-08-16 03:34] #25 closed

[2021-08-23 03:32] Angu-G commented on #22
Hello @hieplam, We have released an update(**v4.1.0**) with the customization for the Message status indicating texts (like **Sent, Sending**) and regarding the timestamp request, this is currently not possible since we are using some dynamic flows and we will try to include this too in our future updates.
You can make use of the following attributes and let us know. Thank you!!
[code]

[2021-08-24 02:50] hungkoala opened #26 "Got error "DeviceConfig.java line 678" on Firebase Crashlytics"
Fatal Exception: java.lang.RuntimeException
Unable to start activity ComponentInfo{care.zoop.bewell/com.zoho.livechat.android.ui.activities.ChatActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'android.app.Application com.zoho.livechat.android.operation.SalesIQApplicationManager.getApplication()' on a null object reference

![error](https://firebasestorage.googleapis.com

[2021-08-24 03:36] Angu-G commented on #26
Hello @hungkoala, Thanks for reporting us. This exception is already handled in our latest version(v4.1.0).

[2021-08-24 06:42] hungkoala commented on #26
thanks, we will update our app accordingly

[2021-08-29 11:50] rasheedbengaluru opened #27 "ZohoSalesIQ.initWithCallback not working in Android"
var appKey;
var accessKey;

if (Platform.OS === 'ios') {
    appKey = "xxxxxxxxx";
    accessKey = "xxxxxxxxxx";
} else {
    appKey = "xxxxxxxxx";
    accessKey = "xxxxxxxxxx";
}

ZohoSalesIQ.initWithCallback(appKey, accessKey, (success) => {
  if (success) {

  } else {
      // your code to handle initialization failure
      Alert.alert('Error','Zoho init failed')
  }
});

I am able to see my

[2021-08-30 03:48] Angu-G commented on #22
Hi @hieplam, Hope the customization helps. We are closing this issue now. You can write back us anytime. Thank you.

[2021-08-30 03:48] #22 closed

[2021-08-30 04:11] Angu-G commented on #27
Hi @rasheedbengaluru, Can you please share with us your portal/screen name to debug the credentials on our side.

[2021-08-30 04:18] rasheedbengaluru commented on #27
Study-MRCOG-Mobile-Dev

[2021-08-30 04:47] Angu-G commented on #27
Hi, seems the department "Mobile App Development" is either private or disabled in the portal. Can you enable it or make it public if it is private and reinstall the application?

[2021-08-30 04:48] rasheedbengaluru commented on #27
ya its private now
let me make it public and check

[2021-08-30 04:53] rasheedbengaluru commented on #27
Thanks, its working now, after making department public

[2021-08-30 04:54] Angu-G commented on #27
Thank you @rasheedbengaluru, Closing the issue.

[2021-08-30 04:54] #27 closed

[2021-09-22 09:18] feleko opened #28 "Error com.zoho.livechat.android.config.DeviceConfig.getPreferences"
Hey,
I got fatal error: Fatal Exception: java.lang.NullPointerException.
Unable to start application.
Wykorzystuje wersje  4.1.0
![Screenshot 2021-09-22 at 11 17 03](https://user-images.githubusercontent.com/22773283/134317094-d820deb0-9eec-46dc-83c6-fdd8506ed37d.png)

[2021-09-22 11:24] Angu-G commented on #28
Hello @feleko, This issue happens when registerVisitor() API is triggered before init() API gets completed. Can you please confirm for me on that? The following syntax would be handy. Please have a try on this too.

ZohoSalesIQ.initWithCallback(appKey, accessKey, (success) => {
    if (success) {
        ZohoSalesIQ.registerVisitor("registerID");
    } else {

    }
});

[2021-09-23 08:33] feleko commented on #28
Thanks for your help.

[2021-09-23 08:33] #28 closed

[2021-10-23 09:01] hungkoala opened #29 "Remote notification registration on iOS (Notifee plugin)"
SalesIQ blocks [notifee](https://notifee.app/)  to show notifications. If  I remove all SalesIQ code in AppDelegate.m the application works well

Here is the code
[code]

[2021-11-02 05:46] #29 closed

[2021-11-02 05:55] hungkoala commented on #29
the function `requestAuthorizationWithOptions` override permission  required by Notifee `notifee.requestPermission()` see  [requestpermission](https://notifee.app/react-native/reference/requestpermission)  that causes the issue

[2021-11-05 09:27] tszajna0 opened #30 "Android crash v.4.2.2 .registerVisitor"
# Environment
- react-native-zohosalesiq-mobilisten 4.2.2
- com.zoho.salesiq:mobilisten:4.2.1
- observed on Android from 8 to 11, devices from multiple vendors
- issue noticed in Crashlytics, no known reproduction steps

# Stack trace

    Fatal Exception: java.lang.NullPointerException: Attempt to invoke interface method 'java.lang.String android.content.SharedPreferences.getString(java.lang.Stri

[2021-11-05 09:33] tszajna0 opened #31 "Android crash v 4.2.2 .isFormEnabled"
# Environment
- react-native-zohosalesiq-mobilisten 4.2.2
- com.zoho.salesiq:mobilisten:4.2.1
- Android 11, Galaxy Note20 5G
issue noticed once in Crashlytics, no known reproduction steps

# Stack trace
    Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{com.bossrevolution.money.production/com.zoho.livechat.android.ui.activities.ChatActivity}: java.lang.NullPoin

[2021-11-09 07:24] Angu-G commented on #30
Hello @tszajna0, This issue happens when registerVisitor() API is triggered before init() call. If the API is used in the right way this issue will not occur. Similar behavior is the reason for issue #31.
We will be working on this so that even any API call that is triggered before init() shouldn't cause any exceptions. This will be pushed in our next immediate update and let you know here. We can

[2021-11-09 07:25] Angu-G commented on #31
Closing the issue since the updates will be posted on similar issue #30.

[2021-11-09 07:25] #31 closed

[2021-11-15 10:48] hungkoala opened #32 "Cannot show react-native Modal Notification Dialog if Chat Screen is in open state"
It looks like SalesIQ native chat dialog has a higher zIndex so it's always on the top.

This issue happen on iOS version only,  the android version is working well

![images](https://i.ibb.co/w4KHw0c/Screen-Shot-2021-11-16-at-6-00-05-PM.png)

[2021-11-17 02:45] Rishabh-Raghunath commented on #32
This needs to be handled with how the dialog or alert is presented or implemented in the app.
The UI from Mobilisten is just presented in the standard way from the UI that is already visible.

If you are able to get the top/visible View controller in iOS and then present the dialog/alert over it, it should work correctly.

[2021-11-17 03:56] hungkoala commented on #32
We are using react-native. Do you have any suggestion  how to get   top/visible View controller in iOS?

[2021-11-18 02:59] hungkoala commented on #32
is there any function to close the chat app?

[2021-11-22 04:35] Rishabh-Raghunath commented on #32
Presenting an alert from the visible view controller should be doable by creating a react-native native module to show alerts.

The module can expose a function that can be invoked from javascript to show an alert with the desired content. Although I am unsure if the same can be achieved purely using the available react-native javascript APIs.

[2021-11-22 04:41] Rishabh-Raghunath commented on #32
An API to programmatically close Mobilisten UI is currently unavailable.
We shall look into the feasibility and support the same in an upcoming release.

[2021-11-23 03:06] hungkoala opened #33 "Got the error at runtime on customer device "Only one Looper may be created per thread""
RuntimeException: Only one Looper may be created per thread
    at android.os.Looper.prepare(Looper.java:101)
    at android.os.Looper.prepare(Looper.java:96)
    at com.zoho.livechat.android.utils.LDPEXUtil.run(LDPEXUtil.java:49)

Android Version:7.0

G3312 Model:43.0.A.7.106

[2021-11-23 03:56] Angu-G commented on #33
Hello @hungkoala, This might happen when we connect to the internet from our end and at the same time Android system (core Android code) might use some UI level operations with the main thread. This shouldn't cause any trouble at the UI level of your application.
Anyways we can handle this exception too in our upcoming release. Thanks for bringing this to our notice. We shall update you in our pre

[2021-11-25 11:23] feleko opened #34 "We got ‘we missed your chat request’"
We can able to put one message and then we got 'we missed your chat request' and there is no text input anymore.
The problem occurs on iOS.
We call after initWithCallback() call.

![image](https://user-images.githubusercontent.com/22773283/143431538-2755f336-08d5-4208-bde5-f9a8676fd260.png)

[2021-11-25 11:35] Angu-G commented on #34
Hi @feleko, Can you please share with us your screen name from the salesiq portal to debug further?

[2021-11-25 11:37] tszajna0 commented on #30
Still seeing the #31 crash even if `registerVisitor()` is invoked after `init()`:

    ZohoSalesIQ.initWithCallback(APP_KEY, ACCESS_KEY, success => {
      if (success) {
        ZohoSalesIQ.disablePreChatForms();
        if (user?.profileId) ZohoSalesIQ.registerVisitor(user.profileId);
        if (user?.fullName) ZohoSalesIQ.setVisitorName(user.fullName);
        if (user?.email) ZohoSalesIQ.setV

[2021-11-29 04:05] Rishabh-Raghunath commented on #32
We are marking this issue as closed since this is not an issue in Mobilisten and since it has had no recent activity.
As suggested earlier, creating a react-native native module to show alerts from the presented view controller could be a solution to achieving the desired behavior.

Please feel free to get back to us in case you have further queries.
Thanks.

[2021-11-29 04:05] #32 closed

[2021-12-01 14:11] dieptang opened #35 "StrictMode policy violation: android.os.strictmode.NonSdkApiUsedViolation Warning on Google pre-launch report"
Hello,

I am publishing my application to Google Console, before of that we're passing our application to Google pre-launch report, and we faced new warning: StrictMode policy violation: android.os.strictmode.NonSdkApiUsedViolation: Ljava/net/Socket;->impl:Ljava/net/SocketImpl;

Details:
[code]

I're currently using Android SDK 30.0.2. Do you know how to resolve it, Is new version available? I cur

[2021-12-01 16:04] Angu-G commented on #35
Hello @dieptang, Can you let us know what is the target SDK version you have been using and whether the StrictMode class is configured in your application.

[2021-12-02 07:11] dieptang commented on #35
I am using target SDK 30. (30.0.2) and don't use StrictMode class yet.

[2021-12-06 02:59] Angu-G commented on #34
Hi @feleko,we are closing this issue since this has no recent activities. You can reach back us if you need further support.
Please note that chats will get missed outside business hours if configured in the same way.

[2021-12-06 02:59] #34 closed

[2021-12-06 03:00] #33 closed

[2021-12-15 03:24] hungkoala opened #36 "got error on production environment "Attempt to invoke interface method 'boolean android.content.SharedPreferences.getBoolean(java.lang.String, boolean)' on a null object reference""
[code]

[2021-12-15 06:19] Md-Mudassir47 commented on #30
Make sure you're invoking the init function inside useEffect hook

[code]

[2021-12-16 17:48] Angu-G commented on #30
Hello @tszajna0, Thank you for your patience. This issue has been addressed in our latest [version(v4.2.4](https://github.com/zoho/SalesIQ-Mobilisten-ReactNative/releases/tag/v4.2.4)).

[2021-12-16 17:49] Angu-G commented on #31
Hello @tszajna0, Thank you for your patience. This issue has been addressed in our latest [version(v4.2.4](https://github.com/zoho/SalesIQ-Mobilisten-ReactNative/releases/tag/v4.2.4)).

[2021-12-16 17:50] Angu-G commented on #33
Hello @hungkoala, Thank you for your patience. This issue has been addressed in our latest [version(v4.2.4](https://github.com/zoho/SalesIQ-Mobilisten-ReactNative/releases/tag/v4.2.4)).

[2021-12-16 17:53] Angu-G commented on #36
Hello @hungkoala, Please upgrade to our latest [version(v4.2.4)](https://github.com/zoho/SalesIQ-Mobilisten-ReactNative/releases/tag/v4.2.4) and let us know.

[2021-12-20 04:16] Angu-G commented on #30
@tszajna0, We are closing this issue now. Please feel free to write us for further queries.

[2021-12-20 04:16] #30 closed

[2021-12-28 14:16] Angu-G commented on #35
Hello @dieptang, Thanks for reporting us. You can ignore this **warning** as of now. We will update to the latest gms libraries to avoid this warning in the future. We will let you know in the same thread. Thank you!

[2021-12-28 14:21] Angu-G commented on #36
Hi @hungkoala, We hope this error does not reproduce with our latest version. We are closing this issue now since we don't have any recent activities. You can get back to us for future queries.

[2021-12-28 14:21] #36 closed

[2022-01-30 12:06] himangipatel14 opened #37 "Error while installing Pod install"
"react": "16.8.3",
 "react-native": "^0.59.8"

I am using above version in my project and now I want to integrate zoho salesiq mobilisten.
I am attaching my error log file which I got during pod install.

[2022-01-30T11_57_55_427Z-debug-0.log](https://github.com/zoho/SalesIQ-Mobilisten-ReactNative/files/7965839/2022-01-30T11_57_55_427Z-debug-0.log)

[2022-02-14 04:54] dieptang commented on #37
What is exactly error? My project working with M1 and React Native 0.67.2 also.

[2022-02-14 05:07] Rishabh-Raghunath commented on #37
Hi @himangipatel14, we weren't able to replicate the issue in our environment.
The error log shared seems to not be indicative of any errors caused due to the react-native-zohosalesiq-mobilisten package.

We request you to ensure that the development environment and dependencies have been set up without issues.

[2022-02-25 16:15] MelanieJourne opened #38 "NullPointerException - getMsgid() on a null object reference"
Hello,

I have the sdk install in my app and so far no problem.
However, I have a bug that starts reporting from my bug tracking platform (Sentry).
It happens when the chatbot asked my user for this address mail and he types it and sends it.
You can see the details below:
![Capture d’écran 2022-02-25 à 17 09 51](https://user-images.githubusercontent.com/14292474/155748838-e3122ba5-16dc-47fe-ac2e

[2022-02-27 14:09] Rishabh-Raghunath commented on #37
Hi @himangipatel14, We are marking this issue as closed since there has been no recent activity.
Please feel free to get back to us in case you have further queries.
Thanks.

[2022-02-27 14:09] #37 closed

[2022-02-28 02:42] Angu-G commented on #38
Hello @MelanieJourne, Thanks for reporting. We will have this fixed and roll out an update which can be expected in a couple of days. We will notify you in the same thread.

[2022-02-28 09:36] dieptang opened #39 "After end chat "Skip" should be ignore send feedback."
![Screen Shot 2022-02-28 at 16 33 47](https://user-images.githubusercontent.com/7411097/155959348-900972dc-aeb0-4b21-8079-b6766d07d958.png)

When click Skip, It's popup the box for input the feedback. Maybe it should be ignore is reasonable.

[2022-02-28 12:35] dieptang opened #40 "Sometime, ZohoSalesIQ.setLauncherVisibility(false) is not working"
When play a while with open the chat and close multiple time, I saw this strange behaviour. I added an event with
[code]
and trigger when I closed the chat, the function is triggered with ZohoSalesIQ.setLauncherVisibility(false); , but the launcher still display.

But when I add the button with onclick() => {ZohoSalesIQ.setLauncherVisibility(false)} then it working.

I am using "react-native": "^0

[2022-03-10 12:44] Angu-G commented on #38
Hi @MelanieJourne, Thanks for your patience. We have rolled out the fix in version [v4.2.7](https://github.com/zoho/SalesIQ-Mobilisten-ReactNative/releases/tag/v4.2.7). Kindly upgrade to it and let us know.

[2022-03-11 08:42] MelanieJourne commented on #38
Hello @Angu-G ,

I can confirm that I no longer have that issue when adding the mail. However, on some smartphone, we have the following error :
<img width="843" alt="Capture d’écran 2022-03-11 à 09 41 20" src="https://user-images.githubusercontent.com/14292474/157832742-262a78c0-b0b2-4c13-a8ed-49f02b8f5610.png">

Smartphone Brand : Xiaomi
Model : M2007J17G

[2022-03-23 06:10] Rishabh-Raghunath commented on #39
We understand and agree with your concern.
We are currently working on improving this user interface.

We shall keep posted here once the update is rolled out.

[2022-03-27 13:11] dieptang opened #41 "App crashing leading from java.lang.NullPointerException"
Hi again,

We got new issue sometime on Android, here is detail

`Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{vn.myapp/com.zoho.livechat.android.ui.activities.ChatActivity}: java.lang.NullPointerException: Attempt to invoke interface method 'boolean android.content.SharedPreferences.getBoolean(java.lang.String, boolean)' on a null object reference
       at

[2022-03-28 16:35] Angu-G commented on #38
Hello @MelanieJourne, Hope the latest [version](https://github.com/zoho/SalesIQ-Mobilisten-ReactNative/releases/tag/v4.2.8) released is useful to sort out the reported issue. Let us know if you need further assistance. Thanks.

[2022-03-28 16:38] Angu-G commented on #41
Hello @dieptang, The error log shared has some missing traces in-between. Can you please share us the complete log to debug the issue? Also we hope you are using our latest [version](https://github.com/zoho/SalesIQ-Mobilisten-ReactNative/releases/tag/v4.2.8).

[2022-04-06 06:10] davepaiva opened #42 "java.lang.NullPointerException"
Hello Zoho team,
We are getting the below error **stack trace via Firebase Crashlytics**:
[code]
**environment info**
[code]
Looking forward to suggestions and next steps to pinpoint and fix the issue
Thank you

[2022-04-11 05:27] Rishabh-Raghunath commented on #40
This issue is now being marked as closed.
Please feel free to get back to us in case you have further queries.
Thanks.

[2022-04-11 05:27] #40 closed

[2022-04-13 05:14] Angu-G commented on #42
Hello @davepaiva, Thanks for your patience. Can you help us with the order of the syncThemeWithOS API call?  Please ensure it is triggered only after successful init completion.

[2022-04-20 05:40] #38 closed

[2022-05-23 17:35] MatiasWettstein opened #43 "Could not find method compile()"
Hello, i have an issue when i run my app
![image](https://user-images.githubusercontent.com/51135740/169875389-af2e4b4f-7cf0-427f-85ca-a6508320a607.png)
I'm ussing OpenJDK11 and gradle 7.3.3

If someone could fix it, I would appreciate if can tell me how

[2022-06-03 17:43] wditechy commented on #43
node_modules/react-native-zohosalesiq-mobilisten/android/build.gradle

compile 'com.facebook.react:react-native:+' failed, need to change implementation,

Please fix this in next version

[2022-06-08 07:27] zahidahmed024 commented on #43
i also have this same issue .
gradle 7.3.3

any updates on how to solve it ?

[2022-06-08 07:35] Rishabh-Raghunath commented on #43
We are currently working on pushing an update that addresses this issue.
We will keep posted here once we have the update rolled out live soon.

[2022-06-09 13:38] wditechy commented on #43
Thank you @Rishabh-Raghunath

[2022-06-22 11:19] DavidBhahirathan commented on #43
Hi @zahidahmed024,

Thank you for your patience. This issue has been addressed in our latest version [version(v4.2.10](https://github.com/zoho/SalesIQ-Mobilisten-ReactNative/releases/tag/v4.2.10)).

For further queries, please feel free to write us at [support@zohosalesiq.com]. We will be happy to assist you.

Regards,
Bhahirathan

[2022-06-22 14:30] MatiasWettstein commented on #43
thanks you! @DavidBhahirathan

[2022-06-27 06:18] #43 closed

[2022-06-27 13:36] DavidBhahirathan commented on #42
Hi @davepaiva  ,

As there is no recent activity, we're closing this issue from our side. You can reopen again anytime. Meanwhile, please check out our latest version [version(v4.2.10](https://github.com/zoho/SalesIQ-Mobilisten-ReactNative/releases/tag/v4.2.10)).

For further queries, please feel free to write us at [support@zohosalesiq.com]. We will be happy to assist you.

Best regards,
Bhahirat

[2022-06-27 13:36] #42 closed

[2022-06-27 13:37] #41 closed

[2022-06-30 12:54] hrajaei76 opened #44 "How can I Implement Android and iOS with the same app key and different access key."
hey,
I have a problem.

can the iOS bundle Id be the same as the Android bundle Id?
In this case, we have the same app key for the ios and the android!

I did this and only iOS works.

[2022-07-01 10:18] DavidBhahirathan commented on #44
Hi @hrajaei76,

Thank you for writing us. Yes, the bundle ID can be same for both iOS and Android. However, the access key differs please verify before providing them.

To know more about installation steps for Mobilisten react-native, please visit our help guide [here](https://www.zoho.com/salesiq/help/developer-section/react-native-sdk-installation.html).

Best regards,
Bhahirathan

[2022-07-02 06:50] hrajaei76 commented on #44
Hey, dear @DavidBhahirathan
Thank you very much.

I've implemented "react-native-zohosalesiq-mobilisten": "4.2.9" on "react-native": "0.67.1".

Although It works very well on iOS, The ZohoSalesIQ.initWithCallback get failed on Android.

 ZohoSalesIQ.initWithCallback(
    appKey,
    accessKey,
    (success: boolean) => {
      if (success) {
        ZohoSalesIQ.setLauncherVisibility(true);
      }

[2022-07-04 06:21] DavidBhahirathan commented on #44
Hi @hrajaei76,

Thank you for writing us. Please verify that whether have you've used the below code snippet for initialisation.

`var appKey;
var accessKey;

if (Platform.OS === 'ios') {
    appKey = "ios_appKey";
    accessKey = "ios_accessKey";
} else {
    appKey = "android_appKey";
    accessKey = "android_accessKey";
}

ZohoSalesIQ.initWithCallback(appKey, accessKey, ...)`

If not please try

[2022-07-06 10:37] #44 closed

[2022-08-22 09:10] Ramanpreet6262 opened #45 "Visitor name not getting detected when it is added via RN SDK API"
I am using RN SDK's API to set visitor name, email, phone number, etc.

Using like this:
`ZohoSalesIQ.setVisitorName('Test user');`

But when I initialize a chat, an operator bot asks for name and email, name is not getting auto-filled in the input box whereas for email it works fine.

And on the operator dashboard right side panel, name is shown as `Visitor 89xxx` means random allocated name and

[2022-08-22 11:37] DavidBhahirathan commented on #45
Hi @Ramanpreet6262 ,

Thank you for writing us. Please verify whether you've used the *setVisitorName* method after the SDK is initialized. I have attached the below snippet for reference.

[code]

[2022-08-22 13:54] Roundups opened #46 "ZohoSalesIQ.setThemeColorforiOS not updating the colour of SalesIQ chat launcher"
Hi we are using the package with an expo app, we use eas custom config under the hood for the integration to work. We are using the latest version 4.2.10. Other functions work such as setChatTitle and initWithCallback.

I have attempted deleting and re-installing the app but I have not been able to alter the colour. I hope I am making a silly error.

Thanks

[2022-08-23 07:14] Venkatesh-iOS commented on #46
Hi,

The "setThemeColorforiOS" API is intended to be used right at the time of initialization. If the API is invoked after initialization is complete, there is a chance that the theme color may not be applied throughout the UI.

Here is an example code snippet for reference;
`
import { Platform } from 'react-native';
import { ZohoSalesIQ } from 'react-native-zohosalesiq-mobilisten';

var appKey;
v

[2022-08-23 13:57] arthedza opened #47 "How to change color theme on Android?"
Tried `ZohoSalesIQ.setThemeColorforAndroid('colorPrimary', COLORS.PRIMARY);` but no effect

[2022-08-24 14:06] DavidBhahirathan commented on #47
Hi @arthedza ,

Thanks for reaching out to us. We're glad to know your interest in Mobilisten react native. Please refer if you've used the right method for Andriod styles because we do not support any method "ZohoSalesIQ.setThemeColorforAndroid('colorPrimary', COLORS.PRIMARY);" as you mentioned. Visit our below help guide to know more.

- [Android Theme Customization](https://www.zoho.com/salesiq

[2022-08-24 16:58] Roundups commented on #46
Ah thank you! Maybe this can be added to the documentation?

I will close the issue.

[2022-08-24 16:58] #46 closed

[2022-08-25 03:52] Ramanpreet6262 commented on #45
Hi @DavidBhahirathan,
Yes I am using `setVisitorName` method after SDK initialisation only in the callback on success as your code ^. And visitor name param also has a valid value.

Yes following up on email. Thanks.

[2022-08-25 04:38] Ramanpreet6262 opened #48 "Directly open Knowledgebase tab instead of Conversations"
I am using RN SDK for our Android app.

Version
`"react-native-zohosalesiq-mobilisten": "4.2.10"`

So wanted to know if there is a way out by which I can directly open the knowledgebase tab instead of conversations on click of a custom button from my App.

Any of these solutions work:
- Opening knowledge base tab directly?
- Reordering bottom tabs with knowledgebase first and then conversations

I

[2022-08-25 06:56] Ramanpreet6262 opened #49 "More customization functionality needed."
I am using RN SDK for our Android app. Need some more customization functionality in SDK to make custom UI more consistent with App's UI, so adding a few pointers here with priorities so that you can check these things and prioritize your roadmap accordingly. And if any of these things are quick enough, I would request you to please provide that functionality sooner.

Version
`"react-native-zohosa

[2022-08-25 09:44] arthedza commented on #49
And also pop-up messages and automated responses
![Screenshot 2022-08-25 at 12 01 52](https://user-images.githubusercontent.com/9218476/186632239-9ae9c75f-2598-4525-8e45-837d30abc73d.png)
![Screenshot 2022-08-25 at 12 05 18](https://user-images.githubusercontent.com/9218476/186632247-850c2505-bff5-48c3-9b14-aed2c888a47e.png)
![Screenshot 2022-08-25 at 12 07 02](https://user-images.githubuserconten

[2022-08-25 09:54] arthedza commented on #47
Thanks, that works! And what about iOS? From the JS side, I can change only the primary color of the theme by the `setThemeColorForIOS` method. I saw the examples of UI customisations, for example [this one](https://www.zoho.com/salesiq/help/developer-section/ios-mobile-sdk-theme-customization-chat.html). But where should I insert that code?

[2022-08-25 10:33] dieptang opened #50 "Android notification not pushing when the app on the background."
Hi,

Few month ago I config and setup everything for SaleIQ and it's working.
Recently I saw the notification for android device no longer popup when I closed the app totally. It;s only working when I open my App and leave it. (IOS still works fine).

My notification from mainly function still works fine when I closed the app on the background. Only saleIQ is not.

I double checked all settings fr

[2022-08-25 10:57] arthedza commented on #20
Tried this but got an error
![Screenshot 2022-08-25 at 13 48 09](https://user-images.githubusercontent.com/9218476/186646995-34b4deb5-109f-4381-b1ef-d9e56270bd28.png)
![Screenshot 2022-08-25 at 13 55 53](https://user-images.githubusercontent.com/9218476/186647005-e09ec489-9d75-4f40-a618-3152d8b94e0d.png)
![Screenshot 2022-08-25 at 13 56 58](https://user-images.githubusercontent.com/9218476/1866470

[2022-08-25 10:58] arthedza commented on #20
https://github.com/zoho/SalesIQ-Mobilisten-ReactNative/issues/47

[2022-08-25 11:32] dieptang commented on #50
`
public class MyFirebaseMessagingService extends FirebaseMessagingService {
    @Override
    public void onMessageReceived(RemoteMessage remoteMessage)
    {
        Map extras = remoteMessage.getData();
        RNZohoSalesIQ.handleNotification(MainApplication.getApplication(),extras);
    }

    @Override
    public void onNewToken(String token) {
        String refreshedToken =FirebaseInstance

[2022-08-25 16:09] arthedza opened #51 "Add typescript support"

[2022-08-26 03:21] Ramanpreet6262 commented on #51
+1 to this, getting TS error on importing Zoho SalesIQ in my TS project for missing .d.ts files

[2022-08-26 06:45] DavidBhahirathan commented on #50
Hi @dieptang ,

Thanks for reaching out to us. We're glad to know your interest in Mobilisten react-native. Please ensure you have completed the following steps,

1. Add your project in firebase with all the given steps - [documentation](https://firebase.google.com/docs/android/setup)
2. Add FCM to your project - [documentation](https://firebase.google.com/docs/cloud-messaging/android/client)
3. F

[2022-08-26 06:53] Venkatesh-iOS commented on #47
Hi @arthedza ,
I'm glad that worked. For iOS, the `setThemeColorforiOS` theme API should be used at time of mobilisten initialization.

Here is a sample code snippet for reference;
[code]

I hope this helps,please feel free to mail us at (support@zohosalesiq.com) along with the Github issue ID.

Regards,
Venkatesh
Zoho SalesIQ

[2022-08-26 08:41] arthedza commented on #47
I have done it already but have an [error](https://github.com/zoho/SalesIQ-Mobilisten-ReactNative/issues/20#issuecomment-1227103799)

[2022-08-26 10:49] DavidBhahirathan commented on #48
Hello @Ramanpreet6262!

Greetings from the Zoho SalesIQ team,

Please find the solutions to your requirements below,

*1*. Opening Knowledge-base directly:
__Option A__: For this requirement, you may hide the conversations tab within Mobilisten using the [setConversationVisibility](https://www.zoho.com/salesiq/help/developer-section/react-native-sdk-set-conversation-visibility.html) API. Invoking

[2022-08-26 13:02] DavidBhahirathan commented on #49
Hi, @Ramanpreet6262 and @arthedza,

Thank you for reaching out to us. We are working on the above-reported issues in high priority and will keep you posted regarding the updates.

Regards,
Bhahirathan M.

[2022-08-31 06:29] DavidBhahirathan commented on #51
Hi @Ramanpreet6262
Sorry for the inconvenience. We will check this and update you.
Thanks.

[2022-09-05 10:48] Venkatesh-iOS commented on #47
Hi @arthedza,

We're checking the issue and will keep you posted regarding the updates.

Regards,
Venkatesh
Zoho SalesIQ

[2022-09-06 12:04] DavidBhahirathan commented on #50
Hi @dieptang,

We are sorry for the inconvenience. We need to debug further on your push notification setup/configuration with the project to find the issue.

Could you please contact our support team at support@zohosalesiq.com, along with your GitHub ID, for further assistance?

Regards,
Bhahirathan M.

[2022-09-07 11:39] dieptang commented on #50
Yes, I sent from SalesIQ dashboard already, nothing happing. Please try to debug on yourself.

[2022-09-07 12:12] dieptang opened #52 "I need an event callback after openChat()"
Hi,

We have the button and trigger the function ZohoSalesIQ.openChat(); when the user click on this. But sometime for new installing users had to waiting about 5 seconds for popup the chat windows. Can you please add the event after the chat windows popup?

For example:

ZohoSalesIQ.openChat();

and then

ZohoSalesIQ.isChatOpened(() =>
   {
        console.log('Chat windows is opening');
  });

T

[2022-09-08 10:32] DavidBhahirathan commented on #52
Hi @dieptang ,

Thanks for reporting us. We'll consider your query and implement this in the upcoming release.

Regards,
Bhahirathan M.

[2022-09-09 09:15] DavidBhahirathan commented on #50
Hi @dieptang,

Sorry for the inconvenience. We have checked the push notifications from our side, and it's working correctly. We need to debug from our side with your project to identify the cause of the issue.

So please contact our support team at [support@zohosalesiq.com] with your portal name, and chat details used for push notification testing like chat IDs(starting with #). We will be happy

[2022-09-21 01:05] dieptang commented on #50
Can you send me the video? Please make sure on android, your application closed on the background, and send the chat.

This is video from our side:

https://drive.google.com/file/d/1CnxQPEMxe13iDaINrxbV4dlzFEcuiboS/view?usp=sharing

[2022-09-26 06:28] DavidBhahirathan commented on #50
Hi @dieptang,

Please find the screen recording attachment link of the sample push notification working in both background and killed state.

link: https://workdrive.zohoexternal.com/file/8moeva8c22a87811847daa327c8d8c7c2611e

Regards,
Bhahirathan M.

[2022-09-29 13:13] dieptang commented on #50
Hi @DavidBhahirathan

Thank you so much, I recheck again line by line and found problem from ourside with the getApplicationContext() function was return null.

The problem is solved!

[2022-10-03 04:17] #50 closed

[2022-10-10 06:01] Ramanpreet6262 opened #53 "Old conversations not visible after fresh install of APK"
Old conversations don't show up if I uninstall the existing APK (with Zoho SalesIQ SDK integrated) and install another version of the same APK.

- **Happening on Android**
- **Version**
`"react-native-zohosalesiq-mobilisten": "4.2.10"`

I guess conversations are stored in shared preferences of Android, not sure if functionality is implemented to bring back old conversations for new user using some

[2022-10-10 13:02] DavidBhahirathan commented on #53
Hi @Ramanpreet6262 ,

Thank you for writing us. Please verify if you've used the registerVisitor( ) method after the SDK is initialized. I have attached the below snippet for reference.

[code]

Note: The visitor's unique ID should match this regex pattern, "^[A-Za-z0-9_@.\\-]{1,100}$".

The conversations are stored based on the unique ID of the registered visitor.

I hope this helps. If the issue

[2022-10-19 05:52] Ramanpreet6262 commented on #53
Thanks, @DavidBhahirathan. I have not used the register and unregister visitor flow. Will add that. And update in some time if it worked and then we can close the issue.

[2022-10-20 05:17] Ramanpreet6262 opened #54 "App crash leading from java.lang.NullPointerException (com.zoho.livechat.android.ui.activities.SalesIQBaseActivity.onPause)"
Hi team,
We got these stack traces on firebase crashlytics

<img width="1108" alt="Screenshot 2022-10-20 at 10 40 31 AM" src="https://user-images.githubusercontent.com/28749866/196861597-ae667863-ff3b-4799-acfb-63ecaf5f5d40.png">
<img width="1113" alt="Screenshot 2022-10-20 at 10 40 38 AM" src="https://user-images.githubusercontent.com/28749866/196861605-22af4b51-88b6-4129-8257-e2b914238802.png">

[2022-10-20 05:25] Ramanpreet6262 opened #55 "java.lang.NullPointerException (com.zoho.livechat.android.ui.fragments.ArticleInfoFragment.updateView)"
Hi team,
We got this stack trace on firebase crashlytics

<img width="971" alt="Screenshot 2022-10-20 at 10 52 57 AM" src="https://user-images.githubusercontent.com/28749866/196862988-0f69d92a-4072-4074-be5a-692286ceea81.png">

And stack trace for the same issue from play store console

`Exception java.lang.NullPointerException: Attempt to invoke interface method 'boolean android.content.SharedPre

[2022-10-20 05:32] Ramanpreet6262 opened #56 "java.lang.NullPointerException (com.facebook.react.bridge.CallbackImpl.invoke)"
Hi team,
We got this stack trace on firebase crashlytics

<img width="1108" alt="Screenshot 2022-10-20 at 11 00 23 AM" src="https://user-images.githubusercontent.com/28749866/196864030-3c61259d-be17-478c-bdcc-501f5dd9eaf2.png">

And stack trace for the same issue from play store console

`Exception java.lang.RuntimeException: Illegal callback invocation from native module. This callback type only

[2022-10-20 05:58] Ramanpreet6262 opened #57 "Invariant Violation crash on debug builds"
Facing the below issue while running the app in debug mode (sometimes, when we reload the app and sometimes on init)

<img width="836" alt="Screenshot 2022-10-20 at 11 26 25 AM" src="https://user-images.githubusercontent.com/28749866/196867504-4ff03ec7-65b1-4f34-a314-b642b0d33d66.png">

Here the value of cbID and callID keeps on changing rest same.

- Happening on Android
- React Native version `"

[2022-10-20 06:58] Ramanpreet6262 commented on #56
This got reported on sentry as well, stack trace:

<img width="838" alt="Screenshot 2022-10-20 at 12 27 17 PM" src="https://user-images.githubusercontent.com/28749866/196877930-715bf559-bdfd-4c69-ac8b-1c41ec405d1f.png">

[2022-10-20 07:14] DavidBhahirathan commented on #54
Hi @Ramanpreet6262 ,

Thank you for writing to us. The reported crash has been fixed. Please update the SDK to version [4.2.13](https://github.com/zoho/SalesIQ-Mobilisten-ReactNative/releases/tag/v4.2.13) and check. If the issue persists, please let us know.

Regards,
Bhahirathan M

[2022-10-20 07:14] DavidBhahirathan commented on #55
Hi @Ramanpreet6262 ,

Thank you for writing to us. Sorry for the inconvenience caused. We'll fix this issue and update you here once it's live.

Regards,
Bhahirathan M

[2022-10-20 07:15] DavidBhahirathan commented on #56
Hi @Ramanpreet6262,

Thanks for writing us. Sorry for the inconvenience. We'll check this and update you shortly.

Regards,
Bhahirathan M.

[2022-10-20 07:15] DavidBhahirathan commented on #57
Hi @Ramanpreet6262 ,

Thanks for writing us. Sorry for the inconvenience. We'll check this and update you shortly.

Regards,
Bhahirathan M

[2022-10-20 11:29] Ramanpreet6262 commented on #54
Hi @DavidBhahirathan, Thanks for the update. Will do and keep you updated.

[2022-10-20 11:34] Ramanpreet6262 commented on #54
@DavidBhahirathan, Can you please share release notes for v4.2.13 as wanted to know about the changelog for this release?

[2022-10-25 16:17] mydtth123 opened #58 "Android build release FAILED"
**I met this issue when I try to make Android release.**

`Task :app:minifyReleaseWithR8 FAILED`

`AGPBI: {"kind":"error","text":"Type com.bumptech.glide.GeneratedRequestManagerFactory is defined multiple times: ../.gradle/caches/transforms-3/bbc6dc60d5e2fb726e0cf27a8af533d3/transformed/jetified-mobilisten-4.3.1-runtime.jar:com/bumptech/glide/GeneratedRequestManagerFactory.class, ../node_modules/r

[2022-10-25 18:50] MaximZybo commented on #58
Issue appears if project has installed react-native-fast-image

Type com.bumptech.glide.GeneratedRequestManagerFactory is defined multiple times: /Users/anduser/Documents/projects/rnTest/node_modules/react-native-fast-image/android/build/.transforms/14cfed7adbe688ef308d5fd7e3ef7465/transformed/classes/classes.dex, /Users/anduser/Documents/projects/rnTest/android/app/build/intermediates/external_li

[2022-10-26 08:27] Ramanpreet6262 commented on #54
@DavidBhahirathan Any update here?

[2022-10-28 06:38] DavidBhahirathan commented on #58
Hi @mydtth123  and @MaximZybo  ,

Thank you for writing to us. We'll look into this issue and update you here once it is fixed.

Regards,
Bhahirathan M

[2022-11-07 06:12] Ramanpreet6262 commented on #54
@DavidBhahirathan Any update here?

[2022-11-07 06:13] Ramanpreet6262 commented on #56
@DavidBhahirathan Any update here? This issue is being reported often on sentry.

[2022-11-09 09:01] DavidBhahirathan commented on #54
Hi @Ramanpreet6262 ,

Sorry for the inconvenience. We have updated the release notes, this is a minor release and we're working on a major release in that version we will fix all other issues which you have reported. It will be live shortly.

Regards,
Bhahirathan M

[2022-11-09 09:02] DavidBhahirathan commented on #45
Hi @Ramanpreet6262,

Thank you for your patience. This issue has been addressed in version [v4.2.13](https://github.com/zoho/SalesIQ-Mobilisten-ReactNative/releases/tag/v4.2.13). Also, please check out our [latest version](https://github.com/zoho/SalesIQ-Mobilisten-ReactNative/releases/latest).

For further queries, please feel free to write us at [support@zohosalesiq.com](mailto:support@zohosales

[2022-11-24 09:27] nillion opened #59 "UnsupportedOperationException in LiveChatUtil.showFeedbackDialog"
Getting crashes on version 4.2.10

<img width="1374" alt="Screenshot 2022-11-24 at 2 54 11 PM" src="https://user-images.githubusercontent.com/10284004/203746485-c63cea9d-90d7-4ded-ade3-ac8e22a810d1.png">

- Platform: Android
- SDK Version: 4.2.10

[2022-11-24 17:50] DavidBhahirathan commented on #59
Hi @nillion ,

Thank you for writing to us. We'll look into this crash and update you here once it is fixed.

Regards,
Bhahirathan M.